.searchResult {
    display: flex;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    cursor: pointer;
  }

.searchResult:hover {
    opacity: 0.8;
}

.searchResult > img {
    height: 200px;
    width: 350px;
    border-radius: 10px;
    overflow: hidden;
}

.searchResult__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 20px;
}

.searchResult__heart {
    position: absolute;
    top: 20px;
    right: 40px;
}

.searchResult__infoTop {
    width: 40vw;
}

.searchResult__infoTop > h3 {
    font-weight: 300;
    margin-top: 10px;
}

.searchResult__infoTop > p {
    margin-top: 10px;
    font-size: 13px;
    color: gray;
  }
  
.searchResult__infoBottom {
    display: flex;
    justify-content: space-between;
}



.searchResult__star {
    color: red;
}


.searchResult__stars {
    display: flex;
    align-items: center;
}

.searchResults__price > p {
    text-align: right;
  }

.searchResults__price {
    position: absolute;
    bottom: 20px;
    right: 30px;
}
@media screen and (max-width:450px){
    .searchResult{
        position: relative;
        flex-direction: column;
        margin-bottom: 100px;
    }

    .searchResult > img{
        border-radius: 30px;
        width: 500px;
        height: 350px;
    }
    /* .searchResult__info{
        width: 100vw;
    } */
    .searchResult__infoTop {
        width: 105vw;
        height: 30vh;
    }
    .searchResult__infoTop > p{
        margin-top: 21px;
        font-size: 19px;
    }
    .searchResult__infoTop>h3{
        font-size: 28px !important;
    }
    .searchResult__heart {
        position: absolute;
        top: -450px;
        font-size: 35px !important;
        right: 0px;
    }
    .searchResult__infoBottom{
        display: flex;
        margin-top: 50px;
        flex-direction: column;
    }
    .searchResult__stars{
    margin-top: 25px;
    display: flex;
    font-size: 28px;
    }
    .searchResult__star {
        font-size: 35px !important;
    }
    .searchResults__price{
        position: relative;
    }
    .searchResults__price>h2{
        font-size: 25px;
        position: absolute;
        left: 368px;
        top: -15px;
        /* margin-top: 10px; */
    }
    .searchResults__price>p{
        margin-top: 18px;
        font-size: 22px;
    }
}

